
.main-section {
    flex: 1;
    background-color: yellow;
    text-align: center;
    margin: 2rem;
}

.intro-section {
    flex: 1;
    background-color: lightblue;
    padding: 2rem;
}

.info-section {
    background-color: lightgreen;
    padding: 2rem;
}