
.mainSection {
    flex: 1;
    background-color: yellow;
    text-align: center;
    margin: 2rem;
}

.introSection {
    flex: 1;
    background-color: lightblue;
    padding: 2rem;
}

.infoSection {
    background-color: lightgreen;
    padding: 2rem;
}

.infoSection p {
    padding: 1rem;
}
