@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #060606;
  }
}

@layer base {
  h1 {
    @apply text-4xl font-extrabold leading-tight mb-4;
  }
  h2 {
    @apply text-3xl font-bold leading-tight mb-4;
  }
  h3 {
    @apply text-2xl font-semibold leading-relaxed mb-4;
  }

  p {
    @apply text-xl leading-6;
  }
}
