@import 'tailwindcss';

/* Mobile styles are default */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #060606;
  }
}

@layer base {
  h1 {
    @apply text-3xl font-extrabold leading-tight mb-4;
  }
  h2 {
    @apply text-2xl font-bold leading-tight mb-4;
  }
  h3 {
    @apply font-semibold leading-relaxed mb-4;
  }

  p {
    @apply leading-6;
  }

  /* Medium devices — min-width: 768px */
  /* @media (min-width: 768px) {

  } */
}

@layer utilities {
  .text-fluid-base {
    /* For body text */
    font-size: clamp(1rem, 0.95rem + 0.4vw, 1.25rem);
  }

  .text-fluid-lg {
    /* For h3/subheadings */
    font-size: clamp(1.5rem, 1.4rem + 0.8vw, 2.25rem);
  }

  .text-fluid-xl {
    /* For h2/main headings */
    font-size: clamp(2rem, 1.8rem + 1.2vw, 3.5rem);
  }
  .text-fluid-2xl {
    /* For h1/hero headings */
    font-size: clamp(2.5rem, 2.2rem + 1.8vw, 5rem);
  }
}

/* Large devices — min-width: 1024px */
@media (min-width: 1024px) {
}

/* Extra large devices — min-width: 1280px */
@media (min-width: 1280px) {
}

/* 2XL devices — min-width: 1536px */
@media (min-width: 1536px) {
}
